//- URL : /videos/:vId/edit
extends base.pug

block content
    h4 Change the video Title from "#{video.title}" to...
    form(method="POST",action=`/videos/${video.id}/edit`)
        input(name="title",type="text",placeholder="Title",value=video.title,required)
        video(src=`/${video.fileUrl}`,controls,width="60%")
        input(name="description",type="text",placeholder="Description",value=video.description,required)
        input(name="hashtags",type="text",placeholder="Hashtags (comma로 구분)",value=video.hashtags.map((word)=>word=word.replace('#','')).join(),required)
        input(name="rating",type="number",min=0,max=5,step=0.5,placeholder="Rating",,value=video.rating,required)
        input(value="save",type="submit")