//- URL : /users/:userId/edit
extends base.pug
include mixins/video.pug 
    //-아래에서 +기호로 사용
    block headerContent
        h3 Edit Profile : #{loggedInUser.name}

        form(method="POST")
            p Username:
            input(name="username",type="text" ,readonly,value = loggedInUser.username)
            p Profile Picture:
            input(name="avatarUrl",type="text",value=loggedInUser.avatarUrl)
            p Email:
            input(name="email", type="email", required,readonly,value=loggedInUser.email)
            p Name:
            input(name="name",type="text",required,readonly,value=loggedInUser.name)
            p Password:
            input(name="password",type="password",required,value=loggedInUser.password)
            input(name="password2",placeholder="비밀번호확인",type="password",required)
    
            input(type="submit",value="회원정보 수정")
