extends base.pug
block content    
    if gitUserData
        form(method="POST",action="/join")
            h4 JOIN VIA GITHUB!
            
            label(for="username") ID
            input(name="username",type="text" ,value=gitUserData.login, required)
            label(for="avatarUrl") 프로필 사진
            input(name="avatarUrl",type="hidden" ,value=gitUserData.avatar_url)
            label(for="email") 이메일
            input(name="email", type="email",value=gitEmailObj.email, required,readonly)
            label(for="name") 이름
            input(name="name",type="text",required)
            label(for="password") 비밀번호
            input(name="password",type="hidden",value=gitEmailObj.email,required)
            input(name="password2",type="hidden",value=gitEmailObj.email,required)
            input(type="hidden",name="isVerified",value=1)
            input(type="submit",value="회원가입")    
    else
        form(method="POST",action="/join",enctype="multipart/form-data")
            label(for="username") ID
            input(name="username",type="text" ,required)
            label(for="avatarUrl") 프로필 사진
            input(name="avatarUrl",id="avatarUrl",type="file",accept="image/*")
            label(for="email") 이메일
            input(name="email", type="email", required)
            label(for="name") 이름
            input(name="name",type="text",required)
            label(for="password") 비밀번호
            input(name="password",type="password",required)
            input(name="password2",placeholder="비밀번호확인",type="password",required)
            input(type="hidden",name="isVerified",value=0)
            input(type="submit",value="회원가입")
        
        a(href="users/github/login") Join with Github &rarr;

    hr
    div
        
        br
        span Already have an account?
        a(href="/login") Log in &rarr;