//- URL : /videos/:vId 
extends base.pug
include mixins/video.pug 
    
block content

    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div#videoDataContainer
        div.videoEditBtn
            if loggedInUser
                if String(loggedInUser._id) === String(video.owner._id)
                    i.fa-regular.fa-pen-to-square
                        a(href=`${video.id}/edit`) &nbspEdit Video
                    span &nbsp|&nbsp
                    i.fa-regular.fa-trash-can
                        a(href=`${video.id}/delete`) &nbspDelete video
        div.video__data.container
            if video.owner.avatarUrl
                image.ownerImage(src=video.owner.avatarUrl)
            else 
                image.ownerImage(src='/uploads/image/user-solid.png')
            div.video__data.container-col
                p.video__title=video.title
                p.video__owner 
                    a(href=`/users/${video.owner._id}/profile`)=video.owner.name
                p.video__detail-mini 조회수: #{video.meta.views}
                p.video__detail-mini=new Date(video.createdDate).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                //- button#collapsibleBtn(type="button") &#9660; 설명보기
                p.video__description=video.description
        if loggedInUser
            div.video__comments 
                form.video__comment-form#commentForm
                    textarea.input-comment(placeholder="What's on your mind?",rows='5') 
                    button.fa-regular.fa-paper-plane.fa-2x.commentBtn#commentBtn(type="submit")
                    
                    //- input(type="submit" class="fa-regular fa-paper-plane-top")
                    
                ul
                each comment in comments.reverse()
                    div.container.video__comment(data-id=comment._id)
                        if comment.owner.avatarUrl
                            image.commentImage(src=comment.owner.avatarUrl)
                        else
                            image.commentImage(src='/uploads/image/user-solid.png')
                        span.commentOwner &nbsp#{comment.owner.name}&nbsp:&nbsp
                            span.commentText #{comment.text}
                        if String(loggedInUser._id) === String(comment.owner._id)
                            span#deleteBtn.deleteBtn.fa-solid.fa-delete-left

block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")
    script(src="/static/js/main.js")