//- URL : /videos/:vId 
extends base.pug
block headerContent
    include partials/header.pug
block content
    if String(loggedInUser._id) === String(video.owner)
        a(href=`${video.id}/edit`) Edit
        span &nbsp|&nbsp
        a(href=`${video.id}/delete`) Delete
    video(src=`/${video.fileUrl}`,controls,width="100%")
    small #{video.views}#{video.views === 1 ? "view" : "views"} | Created: #{video.createdDate} | Rating : #{video.ratings}/5
    br
    small Uploaded by #{owner.name}
    h5 #{video.hashtags}
    p=video.description
