//- URL : /videos/:vId 
extends base.pug
include mixins/video.pug 

block headerContent
    if loggedInUser
    span &nbsp|&nbsp
    a(href="/videos/upload") Upload New    
    
block content
    if loggedInUser
        if String(loggedInUser._id) === String(video.owner._id)
            a(href=`${video.id}/edit`) Edit
            span &nbsp|&nbsp
            a(href=`${video.id}/delete`) Delete
    #videoContainer
        video(src=`/${video.fileUrl}`,width="100%")
        .videoController
            i#playPauseBtn.fas.fa-play
            span &nbsp
            i#volume.fas.fa-volume-up 
            input#volumeRange(type="range" step="0.1" value="0.5" min="0" max="1")
            span &nbsp
            span#currentTime 00:00:00
            span  / 
            span#totalTime 00:00:00
            span &nbsp
            input#timeline(type="range" step="1" value="0" min="0")
        div 
            button#fullScreen Fullscreen
    hr
    small #{video.views}#{video.views === 1 ? "view" : "views"} | Created: #{video.createdDate} | Rating : #{video.ratings}/5
    br
    small Uploaded by 
        a(href=`/users/${video.owner._id}/profile`) #{video.owner.name}
    h5 #{video.hashtags}
    p=video.description
block scripts
    script(src="/static/js/videoPlayer.js")